# OMAPFS Configuration Example

# Planner algorithms: PIBT, PIBT_TF, EPIBT, EPIBT_LNS, PEPIBT_LNS, WPPL
planner_type = EPIBT

# Scheduler types: CONST, GREEDY
scheduler_type = CONST

# TestSystem file paths
map_file = tests/random/random-32-32-20.map
tasks_file = tests/random/tasks.csv
agents_file = tests/random/
steps_num = 1000
