# OMAPFS Configuration Example

# Map: RANDOM, CITY, GAME, SORTATION, WAREHOUSE
map_type = RANDOM

# Planner algorithms: PIBT, PIBT_TF, EPIBT, EPIBT_LNS, PEPIBT_LNS, WPPL
planner_type = EPIBT

# Scheduler types: CONST, GREEDY
scheduler_type = CONST

# Graph Guidance types: DISABLE, ENABLE
graph_guidance_type = ENABLE

# TestSystem file paths
map_file = tests/random/map.txt
tasks_path = tests/random/tasks_one.csv
agents_path = tests/random/
steps_num = 1000
output_dir = solutions
