# OMAPFS Configuration Example

# Map: RANDOM, CITY, GAME, SORTATION, WAREHOUSE
map_type = BERLIN_1_256_SMALL

# Planner algorithms: PIBT, PIBT_TF, EPIBT, EPIBT_LNS, PEPIBT_LNS, WPPL
planner_type = EPIBT

# Scheduler types: CONST, GREEDY
scheduler_type = CONST

# TestSystem file paths
map_file = tests_sillm/berlin_1_256_small/map.txt
tasks_path = tests_sillm/berlin_1_256_small/
agents_path = tests_sillm/berlin_1_256_small/
steps_num = 1000
output_dir = solutions
